<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/style/error.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Ascii-art-web</title>
</head>

<body>
    <div class="container">
        <div class="wrapper">
                <a class="logo" href="/">
                    <img class="logo_img" src="/static/img/2.png" alt="#">
                </a>
                <h1 class="logo_text">{{ . }}</h1>
        </div>
    </div>
</body>

</html>

